
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: white;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: white;
  border-right: 1px solid rgb(197, 183, 183);
  height: auto;
  padding: 20px;
}

.sidebar .logo {
  width: 130px;
  height: 130px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

nav{
  display: flex;

}
.sidebar .photo{
  width: 55px;
  height: 55px;
  padding-top: 50px;
}
.sidebar h1 {
  padding: 15px;
  display: inline-flex;
  font-size: 30px;
  color: rgba(68, 68, 242, 0.689);
  font-weight: bold;
}

.head {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(243, 243, 243, 0.982);
  border-bottom: 2px solid rgb(222, 217, 217);
  width: 102%;
  border-radius: 0px 7px 7px 0px;
}

.header h1 {
  font-size: 29px;
  color: blue;
}

.img {
  width: 70px;
  height: 70px;
}

.hello {
  padding: 20px;
  background-color: rgba(243, 243, 243, 0.982);
  border-radius: 5px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24);
  width: 100%;
}

.hello h2 {
  margin-bottom: 20px;
}

.details {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nxttable {
  width: 100%;
  padding: 20px;
  background-color: rgba(243, 243, 243, 0.982);
  margin: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.574);
 
}

.nxttable h2 {
  padding-bottom: 7px;
}

table {
  width: 100%;
  text-decoration: none;
  border-collapse: separate; 
  border-spacing: 40px 7px;
}

thead th {
  text-align: left;
  text-decoration: none;
  padding: 10px;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.button {
  background-color: blue;
  width: 90%;
  height: 10%;
  color: white;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}

.button:hover {
  background-color: lightblue;
  text-decoration: transparent;
  color: black;
}
