body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
  width: 18%;
  background-color: rgb(0, 94, 255);
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 80px;
  margin-bottom: 20px;
  padding-top: 9%;
}

.sidebaritems {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 27px;
}

.items {
  display: block;
  background-color: white;
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-weight: 700;
  gap: 200px;
  text-decoration: none;
  color: rgb(0, 140, 255);
  text-align: center;
}

.items:hover {
  background-color: rgb(16, 16, 193);
  color: white;
}

.main-content {
    background-color: black;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5%;
  padding-right: 4%;
  margin-bottom: 6px;
}

.searchbar {
  width: 30%;
  justify-content: space-between;
  text-align: justify;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-name {
  font-size: 19px;
  text-decoration: none;
  color: white;
}

.profile-name:hover{
    color: rgb(0, 140, 255);
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.area {
    margin-bottom: 20px;
}

.areabar {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    width: 100px;
    height: 20px;
    font-size: medium;
    text-decoration: transparent;
    border-radius: 7px;
    cursor: pointer;
}

.flex-boxes {
    display: grid;
    grid-template-columns: repeat(6, 0.1fr);
    row-gap: 0px;
    gap: 17px;
    margin-left: 75px;
    margin-right: 50px;
    margin-top: 10px;
}

.box {
    background-color: rgb(0, 98, 255);
    color: white;
    text-decoration: none;
    padding: 20px;
    width: 92px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.box:hover{
    background-color: white;
    color: black;
}
